.App {
  text-align: center;
  background-color: gainsboro;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  /* max-width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.candidate-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 4rem;
}

.empty-list {
  font-size: large;
  font-weight: bold;
  margin-top: 20px;
}
